<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"> 
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <!--google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@500&display=swap" rel="stylesheet"> <!--google fonts-->
    <!--hoja de estilos-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header-principal">
        <div class="barra-superior">
            <img class="logo" src= 'images/logo-mercado-liebre.svg' alt="Logo del sitio">
            <div><input class ="barra" type="text" placeholder="Buscar productos, marcas y más..."></div>
            <div class = "lupa"> <i class="fas fa-search"></i> </div>
            <div class="compra-header">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito          
            </div>
        </div>

        <nav class="barra-navegacion">
            <ul>
                <li> <a href=""> Ofertas </a></li>
                <li> <a href=""> Tiendas oficiales</a> </li>
                <li> <a href=""> Vender </a></li>
                <li> <a href=""> Ayuda </a></li>
            </ul>
            <ul>
                <li> <a href="/register"> Creá tu cuenta </a> <i class="far fa-id-card"></i> </li>
                <li> <a href="/login"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href=""> Mis compras </a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <section ><img class="banner" src="/images/img-home-banner.jpg" alt="banner de ofertas"></section>
    
    <main>
        <section class="ultima-visita">
            <h3>Basado en tu última visita</h3>
            <div class="productos">    
                <article class="producto">
                    <img class="producto" src="/images/img-cafetera-moulinex.jpg">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40 % off</p>
                        <h4 class="descripcion"> Cafetera Moulinex</h4>
                    </div>                
                </article>
                <article class="producto">
                    <img class="producto" src="/images/img-macbook-pro-2019.jpg">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20 % off</p>
                        <h4 class="descripcion"> MacBook Pro 2019</h4>
                    </div>
                </article>
                    <article class="producto">
                        <img class="producto" src="/images/img-samsung-galaxy-s10.jpg">
                        <div class="detalle-producto">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10 % off</p>
                            <h4 class="descripcion"> Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article class="producto">
                        <img class="producto" src="/images/img-tv-samsung-smart.jpg">
                        <div class="detalle-producto">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5 % off</p>
                            <h4 class="descripcion"> SmartTv Samsung 43''</h4>
                        </div>
                    </article>
                </div>
        </section>
        <section class="ofertas">
            <h3>Sección de Ofertas</h3>
                <div class="productos">
                <article class="producto">
                    <img class="producto" src="/images/img-cafetera-moulinex.jpg">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40 % off</p>
                        <h4 class="descripcion"> Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="producto">
                    <img class="producto" src="/images/img-macbook-pro-2019.jpg">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20 % off</p>
                        <h4 class="descripcion"> MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="producto">
                    <img class="producto" src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10 % off</p>
                        <h4 class="descripcion"> Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="producto">
                    <img  class="producto" src="/images/img-tv-samsung-smart.jpg">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5 % off</p>
                        <h4 class="descripcion"> SmartTv Samsung 43''</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="info-footer">
            <section>
                <p><i class="fas fa-credit-card"></i></p>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section >
                <p><i class="fas fa-gift"></i></p>
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section >
                <p><i class="fas fa-user-shield"></i></p>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <section lass="copyright">
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>