<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingresá a tu cuenta</title>
        <!--iconos-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet"> 
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <!--google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@500&display=swap" rel="stylesheet"> <!--google fonts-->
        <!--hoja de estilos-->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <header class="header-principal">
        <div class="barra-superior">
            <a href="/"><img class="logo" src= 'images/logo-mercado-liebre.svg' alt="Logo del sitio"></a>
            <div><input class ="barra" type="text" placeholder="Buscar productos, marcas y más..."></div>
            <div class = "lupa"> <i class="fas fa-search"></i> </div>
            <div class="compra-header">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito          
            </div>
        </div>

        <nav class="barra-navegacion">
            <ul>
                <li> <a href=""> Ofertas </a></li>
                <li> <a href=""> Tiendas oficiales</a> </li>
                <li> <a href=""> Vender </a></li>
                <li> <a href=""> Ayuda </a></li>
            </ul>
            <ul>
                <li> <a href="/register"> Creá tu cuenta </a> <i class="far fa-id-card"></i> </li>
                <li> <a href="/login"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href=""> Mis compras </a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/" method="post" class="formulario">
            <div class="campo">
                <input class="input" type="text" name="name" id="name" placeholder="Nombre de usuario" required>
            </div>
            <div class="campo">
                <input class="input" type="password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="campo">
                <button class="boton-login" type="submit">Enviar</button>
            </div>
        </form>
    </main>
</body>
</html>