<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crea tu cuenta</title>
        <!--iconos-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet"> 
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <!--google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@500&display=swap" rel="stylesheet"> <!--google fonts-->
        <!--hoja de estilos-->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <header class="header-principal">
        <div class="barra-superior">
            <img class="logo" src= 'images/logo-mercado-liebre.svg' alt="Logo del sitio">
            <div><input class ="barra" type="text" placeholder="Buscar productos, marcas y más..."></div>
            <div class = "lupa"> <i class="fas fa-search"></i> </div>
            <div class="compra-header">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito          
            </div>
        </div>

        <nav class="barra-navegacion">
            <ul>
                <li> <a href=""> Ofertas </a></li>
                <li> <a href=""> Tiendas oficiales</a> </li>
                <li> <a href=""> Vender </a></li>
                <li> <a href=""> Ayuda </a></li>
            </ul>
            <ul>
                <li> <a href="/register"> Creá tu cuenta </a> <i class="far fa-id-card"></i> </li>
                <li> <a href="/login"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href=""> Mis compras </a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form action="/" method="post" class="formulario">
            <div class="campo">
                <input class="input" type="text" name="name" id="name" placeholder="Nombre y apellido" required>
            </div>
            <div class="campo">
                <input class="input" type="text" name="user" id="user" placeholder="Nombre de usuario" required>
            </div>
            <div class="campo">
                <p class="nombre-campo">Fecha de nacimiento</p>
                <input class="input" type="date" name="date" id="date" required>
            </div>
            <div class="campo">
                <input class="input" type="text" name="domicile" id="domicile" placeholder="Domicilio" required>
            </div>
            <div class="campo-opciones">
                <p class="nombre-campo">Perfil de usuario</p>
                <div class="perfil">
                    <div>
                        <input type="radio" name="perfil" id="comprar" value="comprar">
                        <label class="campo-opcion" for="comprar">Comprar</label>
                    </div>
                    <div>
                        <input type="radio" name="perfil" id="vender" value="vender">
                        <label class="campo-opcion" for="vender">Vender</label>
                    </div>
                </div>
            </div>
            <div class="campo-opciones">
                <p class="nombre-campo">Intereses</p>
                <div class="intereses">
                    <div>
                        <input type="checkbox" value="electro" id="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" value="moda" id="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" value="hogar" id="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" value="jugueteria" id="jugueteria">
                        <label for="jugueteria">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" value="vidaSana" id="vidaSana">
                        <label for="vidaSana">Vida sana</label>
                    </div>
                </div>
            </div>
            <div class="campo">
                <p class="nombre-campo" for="file">Foto de usuario</p>
                <input type="file" name="file" accept=".jpg, .png, .jpeg" required>
            </div>
            <div class="campo">
                <input class="input" type="password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="campo">
                <input class="input" type="password" name="confirmPassword" placeholder="Confirmar contraseña" required>
            </div>
            <div class="campo">
                <button class="boton" type="reset">Borrar</button>
                <button class="boton" type="submit">Enviar</button>
            </div>
        </form>
    </main>
</body>
</html>