* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    background-color: #ebebeb;
}

/* HEADER */

.header-principal {
    background-color: #EAC926;
    color: #000000;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.barra-navegacion {
    font-weight: normal;
}

img.logo  {
    width: 50%;
    padding: 10px;
}

input.barra {
    padding: 10px;
    width: 45%;
    background-color: #ffffff;
    color:  #666;
    font-size: 12px;
    height: 30px;
}

.lupa {
    background-color: #ffffff; 
    padding: 4.3px;;
}

input.barra, .lupa {
    position: absolute;
    right: 5px;
    top: 10px;
    border: none;
    border-radius: 6px;
}

.barra-superior {
    position: relative;
}

.compra-header {
    text-align: center;
}

.barra-navegacion {
    display: none;    
}

.burger-menu i {
    background-color: #1259c3;
    color: #ebebeb;
    display: block;
    max-width: 40px;
    padding: 10px 0px; 
    border-radius: 20%;
    text-align: center;
    font-size: 20px;
    margin:auto;
}

/* BANNER */

.banner {
    width: 100%;
    margin-top: 150px;
}

/* MAIN */

main {
    width: 90%;
    margin: 0px 5%;
}

    /* Producto */

.ultima-visita,
.ofertas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ultima-visita > h3, .ofertas > h3 {
    font-size: 24px;
    color: #666;
    width: 100%;
}

.precio {
    font-size: 16px;
    width: 30%;
    font-weight: normal;
}

.descuento {
    font-size: 16px;
    font-weight: normal;
    color: #39b54a;
    width: 70%;
}

.descripcion {
    font-weight: normal;
    margin-top: 15px;
    font-size: 16px;
    display: none;
    color: #666;
}

.producto {
    width: 100%;
}

article.producto img {
    box-sizing: content-box;
    width: 100%;
}

article.producto {
    margin-bottom: 10px;
}

div.detalle-producto {
    background-color: #ffffff;
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.detalle-producto > .fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.detalle-producto {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

/* FOOTER */

footer {
    background-color: #ffffff;
    font-family: 'Roboto';
    color: #666;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
}

footer section {
    margin-bottom: 50px;
    font-size: 16px;
}

footer i {
    font-size: 2em;
    color:#1259c3;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* FORMULARIOS */
.formulario {
    padding: 20px 15px;
    margin-top: 160px;
}

.input {
    width: 70%;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    display: inline-block;
    margin: auto;
    padding: 10px;
}

.nombre-campo {
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    font-weight: 600;
}

.campo {
    margin: 10px 20%;
    width: 80%;
    display: inline-block;
    font-size: 16px;
}

.campo-opciones {
    margin: 0px 20%;
    width: 80%;
    display: inline-block;
    font-size: 16px;
}

.campo-opcion {
    width: 50%;
    margin: 0px 20px;
}

.campo-opciones > div {
    margin-bottom: 25px;
}

.botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.boton {
    background-color: #1259c3;
    color:#ffffff;
    margin: 0px 20px;
    padding: 8px 25px;
    border:#1259c3;
    border-radius: 10px;
    width: 40%;
}

.boton-login {
    background-color: #1259c3;
    color:#ffffff;
    padding: 8px 25px;
    border:#1259c3;
    border-radius: 10px;
    width: 70%;
    height: 30px;
}

/* FORMULARIO PLAYGROUND */
.control-formulario{
    margin-bottom: 15px;
}

.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
}

.boton-formulario {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
.producto-form {
    padding: 0 15px;
    position: relative;
    margin: 30px 15px;
} 

.producto-form img {
    width: 100%;
}

.producto-form:hover h2{
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
}

.producto-form h2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin: 0;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;
}

@media (min-width: 361px){
    /* HEADER */
    .barra-navegacion {
        display: flex;
        justify-content: space-between;
    }

    .main section div.producto article {
        width: 45%;
    }
    
    .barra-navegacion ul {
        display: flex;
    }

    .barra-navegacion li {
        margin: 0 5px;
    }

    .burger-menu {
        display: none;
    }

    .barra-navegacion ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .barra-navegacion a {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        padding: 5px 0;
    }

    img.logo  {
        width: 200px;
        padding: 10px;
    }

    .barra-superior {
        display: flex;
        justify-content: space-between;
    }

    input.barra {
        width: 30%;
    }

    input.barra, .lupa {
        position: absolute;
        right: 250px;
    }

    .compra-header { 
        width: 200px;
    }

    .banner {
        margin-top: 100px;
    }

        /* Producto */
    .descripcion {
        display: block;
        align-self: center;
    }
    
    article.producto {
        width: 45%;
    }
    
    .productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    /* FORMULARIOS */
    .formulario {
        margin-top: 130px;
    }
}


@media (min-width: 769px) {
    input.barra {
        width: 40%;
    }

    input.barra, .lupa {
        position: absolute;
        right: 35%;
    }

    .compra-header { 
        position: absolute;
        right: 0;
        top: 10px;
        width: auto;
    }

    .barra-superior, .barra-navegacion {
        max-width: 1200px;
        margin: auto;
    }
    
    article.producto {
        width: 22%;
    }

    article.producto:hover {
        box-shadow: 0px 0px 10px rgb(100 , 100 , 100 );
    }

    .descripcion {
        visibility: collapse;
    }

    .detalle-producto:hover {
        display: flex;
        .descripcion {
            visibility: visible;
        }
    }

    .detalle-producto > .fa-truck:hover {
        transform: rotate(-90deg);
        transition: all 450ms; /* VER */
    }

    .info-footer {
        display: flex;
    }

    .info-footer > section {
        padding: 5px;
    }

    section.copyright {
        position: relative;
    }
    
    .copyright {
        position: absolute;
        left:0;
    }

    footer i:hover {
        color:#39b54a;
    }

    /* FORMULARIOS */
    .perfil, .intereses {
        display: flex;
        justify-content: start;
    }

    .intereses {
        justify-content: space-between;
    }

    .boton-login:hover, .boton:hover {
        background-color: #0022AA;
    }
}